* {
    font-family: Helvetica, Arial sans-serif;
    letter-spacing: .125rem;
    background-color: white;
}

h1 {
    font-size: 65px;
    text-align: center;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 18px;
    text-align: justify;
}

a {
    color: black;
    text-decoration: none;
}

.navigation {
    max-width: 1000px;
    margin: auto;
}

.main {
    max-width: 1000px;
    margin: auto;
}

.footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    height: 200px;
}

.footer-page {
    width: 100%;
    background-color: black;
    height: 150px;
}

.footer-content {
    max-width: 800px;
    margin: auto;
}

.socials {
    background-color: black;
    color: white;
    text-align: center;
    width: 25%;
    float: left;
    transform: translateY(75%);
}

.button-socials {
    background-color: white;
    transition-duration: 0.3s;
    width: 24.5%;
}

.button-socials:hover {
    font-size: 17px;
    padding: 12px 29px;
}

.vertical-center {
    transform: translateY(50%);
}

button {
    background-color: transparent;
    border: none;
    color: unset;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    transition-duration: 0.3s;
    width: 24.5%;
}

button:hover {
    font-size: 17px;
    padding: 12px 29px;
}

.fa {
    padding: 5px;
    width: 80px;
    background-color: black;
    color: white;
}

.fa:hover {

}